<div class="w-full">
  @if (videoError()) {
    <div class="mb-4">
      <p-message
        severity="error"
        [text]="videoError() || 'Error loading video content. Please try again later.'"
        styleClass="w-full"
      ></p-message>
    </div>
  }

  @if (!isVideoAvailable() && !videoError()) {
    <div class="mb-4">
      <p-message
        severity="warn"
        text="Serververbindung verloren oder Stream Offline"
        styleClass="w-full"
      ></p-message>
    </div>
  }

  <div class="video-container">
    <video #videoRef controls muted autoplay playsinline></video>
  </div>
</div>
