<div class="w-[800px] h-full p-4 border border-gray-300 rounded shadow-md bg-white">
  <div class="flex m-5">
    @defer (on viewport) {
      <video id="liveVideo" width="100%" controls [muted]="true"></video>
    } @placeholder {
      <p-skeleton/>
    }
  </div>

  <p-button
    class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600"
    label="Reload"
    (click)="initFlvPlayer()"
  />

  <p-button
    class="px-4 py-2 bg-gray-500 text-white rounded hover:bg-gray-600 ml-2"
    label="Cancel"
    (click)="onCancel()"
  />
</div>
